In [107]:
import pickle
import os
from collections import defaultdict, Counter
from math import isnan

import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.metrics import log_loss
from scipy.stats import kendalltau, spearmanr

## 1

Прочитайте и проанализируйте данные, выберите турниры, в которых есть данные о составах команд и повопросных результатах (поле mask в results.pkl). Для унификации предлагаю:
- взять в тренировочный набор турниры с dateStart из 2019 года; 
- в тестовый — турниры с dateStart из 2020 года.

In [3]:
dir_path = 'chgk'
data = {}
for file in os.listdir(dir_path):
    with open(f'{dir_path}/{file}', 'rb') as f:
        data[file.split('.')[0]] = pickle.load(f)
data.keys()

dict_keys(['results', 'players', 'tournaments'])

In [4]:
def get_usefull_data(data, asseptable_years):
    """
    Выбираем игры проходившие в assebtable_years, где есть маска
    и инофрмация о членах команды хотябы по одной команде
    """
    results_selection = {}
    info_check = lambda team: team.get('mask', None) and team['teamMembers'] != []

    for k, v in data['results'].items():
        year = data['tournaments'][k]['dateStart'][:4]
        if year in asseptable_years:
            teams_with_info = list(filter(info_check, v))
            if len(teams_with_info) != 0:
                results_selection[k] = (year, teams_with_info)
    
    return results_selection

In [5]:
asseptable_years = {'2019', '2020'}

In [6]:
results = get_usefull_data(data, asseptable_years)

In [7]:
def data_to_pandas(results):
    """Функция для перевода данных в pandas"""
    data = defaultdict(list)
    
    for k, v in results.items():
        year, teams = v
        for turn in teams:
            data['year'].append(year)
            data['tournament'].append(k)
            data['teamid'].append(turn["team"]["id"])
            data['mask'].append(turn["mask"])
            data['position'].append(turn["position"])
            data['members'].append([iterr["player"]["id"] for iterr in turn['teamMembers']])
        
    return pd.DataFrame(data)

In [33]:
df = data_to_pandas(results)
df

,year,tournament,teamid,mask,position,members
0,2019,4772,45556,111111111011111110111111111100010010,1.0,"[6212, 18332, 18036, 22799, 15456, 26089]"
1,2019,4772,1030,111111111011110100101111011001011010,5.5,"[1585, 40840, 1584, 10998, 16206]"
2,2019,4772,4252,111111111011110101101111001011110000,5.5,"[23513, 18168, 21060, 35850, 31332, 10187]"
3,2019,4772,5444,101111101111111110001101011001111010,5.5,"[36742, 28939, 54289, 15381, 27375]"
4,2019,4772,40931,111111101011111101000111001001111110,5.5,"[28689, 17720, 30597, 12400, 26988, 69476]"
...,...,...,...,...,...,...
108756,2020,6456,55612,100110001100111011011110100100010101010,3.0,"[138479, 80384, 133207, 95145, 121594, 133209]"
108757,2020,6456,68457,100110101100001111110110100100010001010,4.5,[64129]
108758,2020,6456,43261,000001111100111001010110000100111001011,4.5,"[111255, 166584, 135103, 103290, 103293]"
108759,2020,6456,69918,100101101100100100010110100100010001010,6.0,"[96552, 192899, 192900, 123238, 129706, 192901]"
108760,2020,6456,63129,101000100110000110001000101000010100001,7.0,"[165962, 154624, 224329]"

## 2

Постройте baseline-модель на основе линейной или логистической регрессии, которая будет обучать рейтинг-лист игроков.
Замечания и подсказки:
- повопросные результаты — это фактически результаты броска монетки, и их предсказание скорее всего имеет отношение к бинарной классификации;
- в разных турнирах вопросы совсем разного уровня сложности, поэтому модель должна это учитывать; скорее всего, модель должна будет явно обучать не только силу каждого игрока, но и сложность каждого вопроса;
- для baseline-модели можно забыть о командах и считать, что повопросные результаты команды просто относятся к каждому из её игроков.

In [39]:
def get_tuple_score(mask):
    tournament = mask[0]
    mask_up = []
    true_ans = 0
    max_win_strike = 0
    last_win_strike = 0
    for idx, i in enumerate(mask[1:]):
        mask_up.append({
            'name' : f'{tournament}_{idx}', 
            'result' : i,
            'true_ans_before' : true_ans,
            'question_number' : idx,
            'last_win_strike' : last_win_strike,
            'max_win_strike' : max_win_strike
        })
        int_i = int(i) if i in {'0', '1'} else 0
        last_win_strike = (last_win_strike + int_i) * int_i
        max_win_strike = max([max_win_strike, last_win_strike])
        true_ans += int_i
    
    return mask_up

In [34]:
df['team_score'] = df['mask'].apply(lambda x: sum(list(map(lambda x: int(x) if x in {'0', '1'} else 0, x))))
df['mask'] = df['tournament'].apply(lambda x:[str(x)]) + df['mask'].apply(lambda x: list(map(str, x)))
df

,year,tournament,teamid,mask,position,members,team_score
0,2019,4772,45556,"[4772, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...",1.0,"[6212, 18332, 18036, 22799, 15456, 26089]",28
1,2019,4772,1030,"[4772, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...",5.5,"[1585, 40840, 1584, 10998, 16206]",25
2,2019,4772,4252,"[4772, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...",5.5,"[23513, 18168, 21060, 35850, 31332, 10187]",25
3,2019,4772,5444,"[4772, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, ...",5.5,"[36742, 28939, 54289, 15381, 27375]",25
4,2019,4772,40931,"[4772, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, ...",5.5,"[28689, 17720, 30597, 12400, 26988, 69476]",25
...,...,...,...,...,...,...,...
108756,2020,6456,55612,"[6456, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, ...",3.0,"[138479, 80384, 133207, 95145, 121594, 133209]",20
108757,2020,6456,68457,"[6456, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, ...",4.5,[64129],19
108758,2020,6456,43261,"[6456, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, ...",4.5,"[111255, 166584, 135103, 103290, 103293]",19
108759,2020,6456,69918,"[6456, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, ...",6.0,"[96552, 192899, 192900, 123238, 129706, 192901]",16
108760,2020,6456,63129,"[6456, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, ...",7.0,"[165962, 154624, 224329]",13

In [40]:
df['mask'] = df['mask'].apply(get_tuple_score)
df

,year,tournament,teamid,mask,position,members,team_score
0,2019,4772,45556,"[{'name': '4772_0', 'result': '1', 'true_ans_b...",1.0,"[6212, 18332, 18036, 22799, 15456, 26089]",28
1,2019,4772,1030,"[{'name': '4772_0', 'result': '1', 'true_ans_b...",5.5,"[1585, 40840, 1584, 10998, 16206]",25
2,2019,4772,4252,"[{'name': '4772_0', 'result': '1', 'true_ans_b...",5.5,"[23513, 18168, 21060, 35850, 31332, 10187]",25
3,2019,4772,5444,"[{'name': '4772_0', 'result': '1', 'true_ans_b...",5.5,"[36742, 28939, 54289, 15381, 27375]",25
4,2019,4772,40931,"[{'name': '4772_0', 'result': '1', 'true_ans_b...",5.5,"[28689, 17720, 30597, 12400, 26988, 69476]",25
...,...,...,...,...,...,...,...
108756,2020,6456,55612,"[{'name': '6456_0', 'result': '1', 'true_ans_b...",3.0,"[138479, 80384, 133207, 95145, 121594, 133209]",20
108757,2020,6456,68457,"[{'name': '6456_0', 'result': '1', 'true_ans_b...",4.5,[64129],19
108758,2020,6456,43261,"[{'name': '6456_0', 'result': '0', 'true_ans_b...",4.5,"[111255, 166584, 135103, 103290, 103293]",19
108759,2020,6456,69918,"[{'name': '6456_0', 'result': '1', 'true_ans_b...",6.0,"[96552, 192899, 192900, 123238, 129706, 192901]",16
108760,2020,6456,63129,"[{'name': '6456_0', 'result': '1', 'true_ans_b...",7.0,"[165962, 154624, 224329]",13

In [41]:
df_players = df.explode('members').explode('mask')
df_players

,year,tournament,teamid,mask,position,members,team_score
0,2019,4772,45556,"{'name': '4772_0', 'result': '1', 'true_ans_be...",1.0,6212,28
0,2019,4772,45556,"{'name': '4772_1', 'result': '1', 'true_ans_be...",1.0,6212,28
0,2019,4772,45556,"{'name': '4772_2', 'result': '1', 'true_ans_be...",1.0,6212,28
0,2019,4772,45556,"{'name': '4772_3', 'result': '1', 'true_ans_be...",1.0,6212,28
0,2019,4772,45556,"{'name': '4772_4', 'result': '1', 'true_ans_be...",1.0,6212,28
...,...,...,...,...,...,...,...
108760,2020,6456,63129,"{'name': '6456_34', 'result': '0', 'true_ans_b...",7.0,224329,13
108760,2020,6456,63129,"{'name': '6456_35', 'result': '0', 'true_ans_b...",7.0,224329,13
108760,2020,6456,63129,"{'name': '6456_36', 'result': '0', 'true_ans_b...",7.0,224329,13
108760,2020,6456,63129,"{'name': '6456_37', 'result': '0', 'true_ans_b...",7.0,224329,13
108760,2020,6456,63129,"{'name': '6456_38', 'result': '1', 'true_ans_b...",7.0,224329,13

In [42]:
new_cols = ['name', 
            'result',
            'true_ans_before',
            'question_number',
            'last_win_strike',
            'max_win_strike']

In [43]:
for col in new_cols:
    df_players[col] = df_players['mask'].apply(lambda x: x[col])
df_players

,year,tournament,teamid,mask,position,members,team_score,name,result,true_ans_before,question_number,last_win_strike,max_win_strike
0,2019,4772,45556,"{'name': '4772_0', 'result': '1', 'true_ans_be...",1.0,6212,28,4772_0,1,0,0,0,0
0,2019,4772,45556,"{'name': '4772_1', 'result': '1', 'true_ans_be...",1.0,6212,28,4772_1,1,1,1,1,1
0,2019,4772,45556,"{'name': '4772_2', 'result': '1', 'true_ans_be...",1.0,6212,28,4772_2,1,2,2,2,2
0,2019,4772,45556,"{'name': '4772_3', 'result': '1', 'true_ans_be...",1.0,6212,28,4772_3,1,3,3,3,3
0,2019,4772,45556,"{'name': '4772_4', 'result': '1', 'true_ans_be...",1.0,6212,28,4772_4,1,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
108760,2020,6456,63129,"{'name': '6456_34', 'result': '0', 'true_ans_b...",7.0,224329,13,6456_34,0,12,34,1,2
108760,2020,6456,63129,"{'name': '6456_35', 'result': '0', 'true_ans_b...",7.0,224329,13,6456_35,0,12,35,0,2
108760,2020,6456,63129,"{'name': '6456_36', 'result': '0', 'true_ans_b...",7.0,224329,13,6456_36,0,12,36,0,2
108760,2020,6456,63129,"{'name': '6456_37', 'result': '0', 'true_ans_b...",7.0,224329,13,6456_37,0,12,37,0,2
108760,2020,6456,63129,"{'name': '6456_38', 'result': '1', 'true_ans_b...",7.0,224329,13,6456_38,1,12,38,0,2

In [45]:
df_players['name_hash'] = df_players['name'].apply(lambda x: hash(x))

In [46]:
features =  ['name_hash',
            'tournament',
            'teamid',
            'true_ans_before',
            'question_number',
            'last_win_strike',
            'max_win_strike']
target = 'result'

In [49]:
train, test = df_players.query('year == "2019"'), df_players.query('year == "2020"')
X_train, y_train = train[features], train[target]
X_test, y_test = test[features], test[target]
print(f'Train: {X_train.shape}\nTest: {X_test.shape}')

Train: (21014267, 7)
Test: (4483123, 7)

### Обучение модели

In [52]:
model = linear_model.LogisticRegression()
model.fit(X_train, y_train)

pred_train = model.predict_proba(X_train)
pred_test = model.predict_proba(X_test)
print(f"Train log_loss: {log_loss(y_train, pred_train)}\nTest log_loss:  {log_loss(y_test, pred_test)}")

Train log_loss: 1.3862687433387129
Test log_loss:  1.386110527325844

## 3

Качество рейтинг-системы оценивается качеством предсказаний результатов турниров. Но сами повопросные результаты наши модели предсказывать вряд ли смогут, ведь неизвестно, насколько сложными окажутся вопросы в будущих турнирах; да и не нужны эти предсказания сами по себе. Поэтому:
- предложите способ предсказать результаты нового турнира с известными составами, но неизвестными вопросами, в виде ранжирования команд;
- в качестве метрики качества на тестовом наборе давайте считать ранговые корреляции Спирмена и Кендалла (их можно взять в пакете scipy) между реальным ранжированием в результатах турнира и предсказанным моделью, усреднённые по тестовому множеству турниров.

Идея:
- Кажется, что команда отвечает настолько хорошо, наскольлко силен ее самый сильный игрок.
- Предлагаю ранжировать команды по среднему баллу за все игры у сильнейшего игрока
- Но если игрок попал в команду с сильным игроком и выиграл, при этом учавствовал один раз, он будет считаться сильным игроком. Поэтому предлагается оттдавать приоритет игрокам с большим количеством игр. будем умножать средний балл на мультипликатор = количество игр игрока / количество игр всего
- Но и остальные игроки могу внести свой вклад, поэтому будем их считать рейтингом вполовину меньше(рейтинг игрока 1  + рейтинг игрока 2 * 0.5 + рейтинг игрока 3 * 0.25 и тд)
- По итоговому значению будем сортировать игроков

### Расчет индивидуального рейтинга игрока

In [55]:
df.head()

,year,tournament,teamid,mask,position,members,team_score
0,2019,4772,45556,"[{'name': '4772_0', 'result': '1', 'true_ans_b...",1.0,"[6212, 18332, 18036, 22799, 15456, 26089]",28
1,2019,4772,1030,"[{'name': '4772_0', 'result': '1', 'true_ans_b...",5.5,"[1585, 40840, 1584, 10998, 16206]",25
2,2019,4772,4252,"[{'name': '4772_0', 'result': '1', 'true_ans_b...",5.5,"[23513, 18168, 21060, 35850, 31332, 10187]",25
3,2019,4772,5444,"[{'name': '4772_0', 'result': '1', 'true_ans_b...",5.5,"[36742, 28939, 54289, 15381, 27375]",25
4,2019,4772,40931,"[{'name': '4772_0', 'result': '1', 'true_ans_b...",5.5,"[28689, 17720, 30597, 12400, 26988, 69476]",25

In [69]:
players = (
    df
    .query('year == "2019"')
    [['members', 'team_score']]
    .explode('members')
    .groupby('members')
    .agg(
        score = ('team_score', 'sum'),
        games = ('team_score', 'count')
    )
)
total_games = df.tournament.nunique()
players['raiting'] = players['score'] * players['games'] / total_games
player_dict = players['raiting'].to_dict()
player_dict

{15: 3.57311320754717,
 16: 0.6084905660377359,
 23: 0.02122641509433962,
 31: 12.037735849056604,
 35: 11.88679245283019,
 38: 1.7122641509433962,
 47: 4.35377358490566,
 59: 3.2523584905660377,
 65: 0.7924528301886793,
 79: 21.75,
 80: 11.556603773584905,
 82: 31.995283018867923,
 98: 0.13797169811320756,
 112: 0.16981132075471697,
 113: 0.30778301886792453,
 117: 80.66037735849056,
 119: 4.476415094339623,
 133: 13.702830188679245,
 136: 1.1226415094339623,
 144: 24.452830188679247,
 150: 2.806603773584906,
 153: 0.660377358490566,
 157: 0.024764150943396228,
 160: 0.02240566037735849,
 176: 91.875,
 178: 28.27240566037736,
 182: 31.482311320754718,
 196: 0.38207547169811323,
 223: 0.20047169811320756,
 230: 6.339622641509434,
 232: 28.49174528301887,
 233: 4.169811320754717,
 236: 0.125,
 261: 0.08018867924528301,
 263: 0.07311320754716981,
 278: 29.537735849056602,
 286: 0.020047169811320754,
 315: 3.231132075471698,
 322: 0.07311320754716981,
 323: 254.7311320754717,
 328: 74.13679245283019,
 330: 0.21226415094339623,
 345: 1.7122641509433962,
 354: 0.20754716981132076,
 376: 28.75825471698113,
 377: 0.01061320754716981,
 379: 15.169811320754716,
 385: 0.5070754716981132,
 397: 5.3950471698113205,
 398: 92.71698113207547,
 409: 4.767688679245283,
 415: 0.8419811320754716,
 418: 0.025943396226415096,
 419: 19.31132075471698,
 437: 0.01061320754716981,
 441: 0.0294811320754717,
 445: 0.14386792452830188,
 447: 0.8077830188679245,
 450: 0.02358490566037736,
 453: 13.61320754716981,
 457: 46.14858490566038,
 474: 52.867924528301884,
 475: 48.35849056603774,
 486: 17.00235849056604,
 487: 160.1686320754717,
 489: 134.79716981132074,
 490: 6.372641509433962,
 503: 10.485849056603774,
 505: 84.8254716981132,
 509: 1.1308962264150944,
 531: 1.4528301886792452,
 535: 8.872641509433961,
 537: 26.702830188679247,
 571: 2.3632075471698113,
 576: 0.1179245283018868,
 591: 1.963443396226415,
 599: 1.4941037735849056,
 602: 2.9150943396226414,
 616: 0.025943396226415096,
 619: 0.29245283018867924,
 623: 1.5754716981132075,
 631: 33.64033018867924,
 639: 0.3007075471698113,
 641: 4.721698113207547,
 643: 0.06132075471698113,
 644: 22.25825471698113,
 656: 0.1957547169811321,
 658: 20.784198113207548,
 660: 0.8726415094339622,
 662: 2.724056603773585,
 668: 0.13797169811320756,
 670: 1.2877358490566038,
 680: 0.2016509433962264,
 683: 59.29009433962264,
 691: 1.2794811320754718,
 696: 9.20872641509434,
 699: 1.2382075471698113,
 707: 0.031839622641509434,
 712: 0.2016509433962264,
 716: 0.5365566037735849,
 726: 0.5872641509433962,
 730: 0.0294811320754717,
 731: 3.803066037735849,
 740: 0.01768867924528302,
 747: 17.745283018867923,
 757: 0.08018867924528301,
 772: 0.7971698113207547,
 777: 0.11320754716981132,
 781: 0.7924528301886793,
 789: 0.11674528301886793,
 797: 0.02358490566037736,
 798: 1.3018867924528301,
 803: 3.6320754716981134,
 808: 0.7900943396226415,
 811: 1.1816037735849056,
 822: 5.27122641509434,
 824: 0.22641509433962265,
 837: 0.7358490566037735,
 840: 4.128537735849057,
 849: 99.03301886792453,
 851: 1.3101415094339623,
 853: 3.255896226415094,
 856: 5.1049528301886795,
 860: 16.30306603773585,
 868: 1.7334905660377358,
 869: 0.01179245283018868,
 881: 0.17688679245283018,
 885: 38.85966981132076,
 887: 0.13443396226415094,
 902: 8.73820754716981,
 904: 151.42570754716982,
 907: 0.3608490566037736,
 929: 0.07075471698113207,
 932: 21.7688679245283,
 935: 0.009433962264150943,
 950: 362.73349056603774,
 958: 0.24410377358490565,
 960: 0.01179245283018868,
 992: 0.014150943396226415,
 1000: 3.0849056603773586,
 1001: 42.49764150943396,
 1007: 1.0683962264150944,
 1019: 1.544811320754717,
 1022: 33.278301886792455,
 1029: 0.01650943396226415,
 1033: 101.35495283018868,
 1042: 3.0872641509433962,
 1043: 36.735849056603776,
 1049: 2.01061320754717,
 1050: 18.794811320754718,
 1055: 41.0377358490566,
 1062: 34.79245283018868,
 1068: 0.2653301886792453,
 1073: 0.02830188679245283,
 1076: 40.6438679245283,
 1123: 16.495283018867923,
 1136: 1.7193396226415094,
 1137: 0.32547169811320753,
 1140: 0.09905660377358491,
 1145: 13.397405660377359,
 1157: 9.679245283018869,
 1158: 0.01768867924528302,
 1169: 0.020047169811320754,
 1174: 0.08962264150943396,
 1192: 0.0660377358490566,
 1197: 5.994103773584905,
 1215: 15.320754716981131,
 1218: 10.84433962264151,
 1239: 0.375,
 1243: 4.911556603773585,
 1246: 5.554245283018868,
 1257: 0.8561320754716981,
 1261: 10.42570754716981,
 1265: 0.5235849056603774,
 1266: 0.10259433962264151,
 1284: 1.634433962264151,
 1288: 0.018867924528301886,
 1302: 0.018867924528301886,
 1304: 0.01061320754716981,
 1305: 87.49528301886792,
 1313: 0.4540094339622642,
 1325: 0.25471698113207547,
 1339: 5.341981132075472,
 1340: 86.79481132075472,
 1344: 93.3125,
 1345: 24.452830188679247,
 1348: 84.94103773584905,
 1349: 0.08490566037735849,
 1350: 3.172169811320755,
 1351: 0.10849056603773585,
 1352: 40.41509433962264,
 1354: 9.783018867924529,
 1364: 48.17216981132076,
 1369: 87.9375,
 1370: 252.56603773584905,
 1372: 26.503537735849058,
 1375: 0.5660377358490566,
 1386: 0.03419811320754717,
 1387: 47.18632075471698,
 1391: 0.15566037735849056,
 1406: 0.03419811320754717,
 1412: 1.3785377358490567,
 1424: 56.69103773584906,
 1425: 13.398584905660377,
 1432: 16.16745283018868,
 1433: 6.898584905660377,
 1444: 5.028301886792453,
 1450: 0.01768867924528302,
 1454: 0.05660377358490566,
 1468: 18.141509433962263,
 1471: 0.1804245283018868,
 1472: 0.37735849056603776,
 1477: 0.9245283018867925,
 1487: 9.650943396226415,
 1488: 15.452830188679245,
 1498: 0.37735849056603776,
 1506: 0.33608490566037735,
 1511: 3.856132075471698,
 1513: 61.20990566037736,
 1516: 0.7429245283018868,
 1517: 1.3372641509433962,
 1531: 0.13089622641509435,
 1540: 0.8702830188679245,
 1562: 32.06014150943396,
 1579: 2.3632075471698113,
 1581: 4.675707547169812,
 1584: 51.261792452830186,
 1585: 57.31132075471698,
 1590: 0.1320754716981132,
 1599: 76.69811320754717,
 1603: 0.014150943396226415,
 1608: 1.5660377358490567,
 1615: 0.04009433962264151,
 1616: 0.04009433962264151,
 1619: 0.8337264150943396,
 1625: 48.527122641509436,
 1632: 0.04009433962264151,
 1641: 0.02830188679245283,
 1646: 0.0660377358490566,
 1672: 11.716981132075471,
 1681: 1.0648584905660377,
 1683: 99.62853773584905,
 1701: 0.06132075471698113,
 1704: 0.3007075471698113,
 1706: 41.37735849056604,
 1707: 0.15212264150943397,
 1732: 22.160377358490567,
 1743: 2.490566037735849,
 1746: 0.01650943396226415,
 1750: 5.433962264150943,
 1752: 7.959905660377358,
 1756: 67.66391509433963,
 1791: 53.43396226415094,
 1804: 19.735849056603772,
 1807: 0.02240566037735849,
 1809: 0.05070754716981132,
 1826: 0.6933962264150944,
 1859: 0.08962264150943396,
 1867: 0.05188679245283019,
 1869: 1.0683962264150944,
 1871: 32.89858490566038,
 1886: 0.6792452830188679,
 1894: 68.80896226415095,
 1898: 2.134433962264151,
 1899: 0.08726415094339622,
 1902: 302.28537735849056,
 1906: 0.031839622641509434,
 1907: 29.20754716981132,
 1919: 4.287735849056604,
 1934: 0.5129716981132075,
 1940: 8.50943396226415,
 1948: 1.2464622641509433,
 1960: 0.08254716981132075,
 1964: 0.5601415094339622,
 1966: 0.020047169811320754,
 1970: 4.216981132075472,
 1981: 18.45754716981132,
 1983: 93.87382075471699,
 2001: 0.35377358490566035,
 2004: 1.3785377358490567,
 2005: 26.28301886792453,
 2013: 16.93867924528302,
 2027: 30.399764150943398,
 2031: 9.304245283018869,
 2033: 53.968160377358494,
 2054: 1.7936320754716981,
 2065: 179.6061320754717,
 2066: 140.25,
 2077: 4.952830188679245,
 2094: 0.2511792452830189,
 2097: 0.01768867924528302,
 2103: 2.706367924528302,
 2115: 106.03066037735849,
 2116: 0.3466981132075472,
 2137: 1.4858490566037736,
 2150: 0.11320754716981132,
 2154: 0.020047169811320754,
 2155: 3.4245283018867925,
 2171: 6.158018867924528,
 2174: 0.0660377358490566,
 2187: 0.08490566037735849,
 2194: 0.527122641509434,
 2217: 0.10377358490566038,
 2220: 5.320754716981132,
 2221: 33.839622641509436,
 2223: 0.6686320754716981,
 2226: 5.377358490566038,
 2229: 0.041273584905660375,
 2230: 0.01061320754716981,
 2231: 0.01061320754716981,
 2233: 31.79245283018868,
 2251: 5.101415094339623,
 2268: 29.653301886792452,
 2282: 1.5,
 2283: 0.3443396226415094,
 2284: 0.14150943396226415,
 2287: 123.25117924528301,
 2291: 0.7264150943396226,
 2318: 0.024764150943396228,
 2319: 9.181603773584905,
 2322: 266.62735849056605,
 2323: 8.537735849056604,
 2336: 14.683962264150944,
 2344: 0.2617924528301887,
 2382: 0.23702830188679244,
 2384: 6.721698113207547,
 2391: 6.19811320754717,
 2393: 0.025943396226415096,
 2396: 25.62617924528302,
 2404: 9.98820754716981,
 2414: 34.490566037735846,
 2421: 232.2629716981132,
 2424: 2.660377358490566,
 2429: 0.5483490566037735,
 2441: 5.673349056603773,
 2443: 4.691037735849057,
 2448: 15.933962264150944,
 2457: 0.10966981132075472,
 2463: 4.1745283018867925,
 2465: 0.12735849056603774,
 2466: 244.99174528301887,
 2475: 68.2004716981132,
 2490: 61.29127358490566,
 2502: 21.330188679245282,
 2514: 0.015330188679245283,
 2515: 0.015330188679245283,
 2529: 0.08490566037735849,
 2530: 0.08490566037735849,
 2541: 0.1179245283018868,
 2548: 28.11202830188679,
 2569: 0.03773584905660377,
 2580: 3.9764150943396226,
 2594: 5.319575471698113,
 2595: 104.68160377358491,
 2600: 0.05070754716981132,
 2612: 0.02240566037735849,
 2623: 1.3054245283018868,
 2628: 0.13797169811320756,
 2642: 43.70754716981132,
 2643: 23.702830188679247,
 2659: 19.74056603773585,
 2668: 335.0330188679245,
 2673: 2.9716981132075473,
 2678: 53.04009433962264,
 2694: 1.6886792452830188,
 2695: 0.025943396226415096,
 2697: 3.2264150943396226,
 2698: 61.08018867924528,
 2705: 12.566037735849056,
 2706: 16.294811320754718,
 2712: 0.045990566037735846,
 2717: 0.05306603773584906,
 2719: 0.3608490566037736,
 2727: 0.03419811320754717,
 2735: 0.12735849056603774,
 2742: 25.955188679245282,
 2744: 1.169811320754717,
 2758: 17.47641509433962,
 2763: 54.24764150943396,
 2766: 1.2794811320754718,
 2785: 0.0294811320754717,
 2791: 0.21226415094339623,
 2796: 5.533018867924528,
 2797: 4.966981132075472,
 2828: 0.7216981132075472,
 2829: 0.012971698113207548,
 2838: 0.02240566037735849,
 2851: 29.77358490566038,
 2857: 137.79245283018867,
 2859: 0.0589622641509434,
 2860: 0.3443396226415094,
 2861: 0.02358490566037736,
 2870: 5.518867924528302,
 2872: 2.4410377358490565,
 2874: 1.642688679245283,
 2885: 27.912735849056602,
 2888: 5.084905660377358,
 2890: 0.8773584905660378,
 2891: 128.70283018867926,
 2898: 19.514150943396228,
 2902: 19.047169811320753,
 2904: 3.55188679245283,
 2906: 1.8985849056603774,
 2907: 0.04245283018867924,
 2910: 98.39622641509433,
 2914: 14.00943396226415,
 2917: 4.721698113207547,
 2920: 1.2099056603773586,
 2924: 1.7688679245283019,
 2927: 28.33254716981132,
 2936: 0.08490566037735849,
 2938: 0.03891509433962264,
 2952: 49.964622641509436,
 2954: 560.2676886792453,
 2965: 3.786556603773585,
 2973: 2.063679245283019,
 2978: 10.68632075471698,
 2992: 0.025943396226415096,
 2993: 11.942216981132075,
 2998: 10.01061320754717,
 3011: 1.5601415094339623,
 3013: 0.02830188679245283,
 3017: 3.75,
 3026: 0.9551886792452831,
 3032: 13.422169811320755,
 3036: 0.1179245283018868,
 3041: 53.242924528301884,
 3056: 1.5353773584905661,
 3058: 65.43396226415095,
 3065: 4.2004716981132075,
 3066: 0.1509433962264151,
 3067: 1.5436320754716981,
 3078: 0.8726415094339622,
 3081: 0.13443396226415094,
 3083: 38.54716981132076,
 3085: 0.02122641509433962,
 3088: 117.1627358490566,
 3096: 22.84198113207547,
 3103: 0.009433962264150943,
 3114: 0.009433962264150943,
 3127: 0.018867924528301886,
 3132: 0.01650943396226415,
 3154: 5.009433962264151,
 3157: 62.1875,
 3159: 70.79009433962264,
 3163: 0.3007075471698113,
 3178: 36.60966981132076,
 3179: 4.817216981132075,
 3187: 0.02122641509433962,
 3197: 1.8903301886792452,
 3199: 7.683962264150943,
 3207: 205.10023584905662,
 3208: 15.893867924528301,
 3217: 32.195754716981135,
 3222: 4.754716981132075,
 3231: 3.94811320754717,
 3232: 0.03419811320754717,
 3239: 31.57429245283019,
 3240: 11.356132075471699,
 3241: 1.6981132075471699,
 3242: 0.14622641509433962,
 3256: 31.67924528301887,
 3262: 0.08490566037735849,
 3268: 0.014150943396226415,
 3276: 32.136792452830186,
 3278: 19.07193396226415,
 3293: 4.90566037735849,
 3294: 0.030660377358490566,
 3298: 4.275943396226415,
 3315: 0.0589622641509434,
 3325: 4.706367924528302,
 3327: 0.12028301886792453,
 3335: 0.01061320754716981,
 3344: 57.488207547169814,
 3346: 0.6686320754716981,
 3347: 0.1875,
 3348: 0.007075471698113208,
 3350: 1.330188679245283,
 3355: 0.12971698113207547,
 3356: 0.02358490566037736,
 3357: 1.1603773584905661,
 3360: 0.0589622641509434,
 3381: 2.7830188679245285,
 3385: 6.0495283018867925,
 3386: 1.634433962264151,
 3387: 8.225235849056604,
 3408: 0.30660377358490565,
 3410: 0.03537735849056604,
 3414: 42.3997641509434,
 3415: 0.1580188679245283,
 3417: 0.7712264150943396,
 3419: 0.6191037735849056,
 3422: 0.29245283018867924,
 3423: 136.5495283018868,
 3425: 23.971698113207548,
 3427: 6.014150943396227,
 3428: 8.433962264150944,
 3431: 0.01061320754716981,
 3434: 6.488207547169812,
 3436: 9.566037735849056,
 3438: 192.65801886792454,
 3440: 82.62971698113208,
 3450: 15.514150943396226,
 3464: 17.91509433962264,
 3466: 0.03537735849056604,
 3467: 0.00589622641509434,
 3474: 2.806603773584906,
 3496: 2.0849056603773586,
 3498: 1.2169811320754718,
 3499: 2.292452830188679,
 3507: 0.02830188679245283,
 3512: 4.476415094339623,
 3515: 6.403301886792453,
 3532: 0.0,
 3568: 1.5849056603773586,
 3577: 50.681603773584904,
 3596: 9.679245283018869,
 3603: 7.6415094339622645,
 3608: 199.7193396226415,
 3617: 0.2099056603773585,
 3619: 1.3903301886792452,
 3630: 10.63679245283019,
 3645: 202.32311320754718,
 3651: 0.2971698113207547,
 3658: 7.660377358490566,
 3668: 0.29245283018867924,
 3671: 11.942216981132075,
 3677: 14.398584905660377,
 3684: 0.11556603773584906,
 3696: 0.1179245283018868,
 3701: 3.5872641509433962,
 3712: 0.16627358490566038,
 3721: 0.02240566037735849,
 3726: 0.3584905660377358,
 3736: 0.01768867924528302,
 3739: 0.44221698113207547,
 3747: 1.1037735849056605,
 3748: 0.030660377358490566,
 3752: 0.020047169811320754,
 3762: 0.1650943396226415,
 3767: 327.17806603773585,
 3781: 0.02830188679245283,
 3787: 0.1945754716981132,
 3800: 7.85377358490566,
 3803: 0.07547169811320754,
 3812: 33.39858490566038,
 3818: 0.8667452830188679,
 3822: 0.05188679245283019,
 3823: 0.10141509433962265,
 3843: 3.2429245283018866,
 3868: 108.45283018867924,
 3882: 10.659198113207546,
 3883: 13.867924528301886,
 3909: 11.70754716981132,
 3910: 9.584905660377359,
 3912: 0.25943396226415094,
 3914: 44.52122641509434,
 3925: 511.9669811320755,
 3939: 1.7747641509433962,
 3945: 6.014150943396227,
 3963: 4.330188679245283,
 3972: 0.030660377358490566,
 3974: 3.5141509433962264,
 3983: 2.498820754716981,
 3996: 4.330188679245283,
 4006: 0.1733490566037736,
 4018: 0.1875,
 4020: 15.487028301886792,
 4022: 0.08726415094339622,
 4024: 1.3537735849056605,
 4026: 0.3490566037735849,
 4028: 32.47641509433962,
 4039: 258.2169811320755,
 4046: 49.57783018867924,
 4053: 0.02122641509433962,
 4063: 11.71816037735849,
 4064: 6.653301886792453,
 4075: 2.4516509433962264,
 4085: 1.7264150943396226,
 4095: 1.3679245283018868,
 4096: 0.5660377358490566,
 4098: 0.0660377358490566,
 4113: 9.403301886792454,
 4114: 11.226415094339623,
 4121: 622.5495283018868,
 4123: 0.1509433962264151,
 4147: 0.2688679245283019,
 4159: 0.015330188679245283,
 4167: 0.7264150943396226,
 4180: 0.03773584905660377,
 4181: 15.872641509433961,
 4191: 0.07783018867924528,
 4193: 1.5377358490566038,
 4198: 0.054245283018867926,
 4200: 0.02358490566037736,
 4213: 0.2830188679245283,
 4220: 0.5660377358490566,
 4223: 65.43396226415095,
 4224: 16.212264150943398,
 4226: 9.88679245283019,
 4237: 3.1485849056603774,
 4239: 0.37735849056603776,
 4241: 0.014150943396226415,
 4246: 0.02830188679245283,
 4255: 10.244103773584905,
 4258: 182.58608490566039,
 4261: 3.431603773584906,
 4262: 0.049528301886792456,
 4265: 103.24882075471699,
 4270: 204.53773584905662,
 4271: 9.52122641509434,
 4281: 47.110849056603776,
 4289: 16.680424528301888,
 4295: 0.025943396226415096,
 4297: 91.75707547169812,
 4298: 0.014150943396226415,
 4303: 0.025943396226415096,
 4307: 26.88679245283019,
 4309: 0.33962264150943394,
 4337: 13.64504716981132,
 4348: 0.6297169811320755,
 4349: 21.141509433962263,
 4382: 7.808962264150943,
 4383: 3.339622641509434,
 4387: 0.02358490566037736,
 4394: 0.01179245283018868,
 4404: 2.099056603773585,
 4408: 15.329009433962264,
 4414: 102.82075471698113,
 4415: 0.08726415094339622,
 4417: 1.6450471698113207,
 4418: 0.330188679245283,
 4426: 666.7830188679245,
 4440: 0.02122641509433962,
 4442: 0.21933962264150944,
 4448: 9.773584905660377,
 4456: 0.01650943396226415,
 4458: 57.50235849056604,
 4477: 2.8726415094339623,
 4513: 11.21816037735849,
 4515: 60.95283018867924,
 4521: 0.14150943396226415,
 4536: 0.020047169811320754,
 4545: 0.0589622641509434,
 4551: 0.08018867924528301,
 4559: 0.39504716981132076,
 4579: 0.13443396226415094,
 4582: 2.292452830188679,
 4586: 0.25,
 4593: 2.702830188679245,
 4599: 6.339622641509434,
 4602: 2.9339622641509435,
 4614: 2.349056603773585,
 4616: 0.03773584905660377,
 4622: 4.330188679245283,
 4623: 4.202830188679245,
 4627: 0.2830188679245283,
 4637: 1.1025943396226414,
 4647: 0.045990566037735846,
 4650: 0.47759433962264153,
 4660: 0.02830188679245283,
 4668: 0.0660377358490566,
 4673: 0.07075471698113207,
 4677: 0.5778301886792453,
 4715: 22.596698113207548,
 4722: 19.162735849056602,
 4728: 38.908018867924525,
 4730: 11.20754716981132,
 4732: 4.9245283018867925,
 4733: 2.3997641509433962,
 4736: 0.02240566037735849,
 4742: 8.915094339622641,
 4743: 4.599056603773585,
 4753: 0.07783018867924528,
 4762: 6.055424528301887,
 4763: 112.06603773584905,
 4778: 4.319575471698113,
 4786: 0.6509433962264151,
 4799: 0.07311320754716981,
 4802: 24.28301886792453,
 4812: 39.50117924528302,
 4813: 9.00117924528302,
 4821: 0.8337264150943396,
 4847: 3.4952830188679247,
 4852: 57.056603773584904,
 4854: 0.9339622641509434,
 4856: 0.027122641509433963,
 4861: 28.56367924528302,
 4863: 0.5601415094339622,
 4864: 97.95990566037736,
 4865: 2.5908018867924527,
 4869: 0.38325471698113206,
 4870: 36.405660377358494,
 4872: 13.360849056603774,
 4875: 236.60023584905662,
 4876: 0.0330188679245283,
 4878: 49.695754716981135,
 4879: 12.340801886792454,
 4886: 4.507075471698113,
 4890: 56.22995283018868,
 4894: 0.4716981132075472,
 4905: 71.71816037735849,
 4906: 1.7995283018867925,
 4926: 0.02240566037735849,
 4940: 0.054245283018867926,
 4960: 17.349056603773583,
 4964: 13.55188679245283,
 4969: 0.01650943396226415,
 4973: 6.633254716981132,
 4991: 10.69811320754717,
 5004: 4.462264150943396,
 5007: 74.76768867924528,
 5018: 19.83608490566038,
 5020: 0.6686320754716981,
 5023: 1.875,
 5034: 11.42688679245283,
 5043: 0.5990566037735849,
 5056: 98.17099056603773,
 5076: 0.27240566037735847,
 5104: 77.74174528301887,
 5124: 33.8561320754717,
 5128: 1.5495283018867925,
 5130: 21.36438679245283,
 5140: 0.23349056603773585,
 5146: 8.745283018867925,
 5150: 4.386792452830188,
 5162: 1.3620283018867925,
 5181: 4.859669811320755,
 5185: 6.851415094339623,
 5195: 231.19811320754718,
 5199: 15.955188679245284,
 5203: 0.25471698113207547,
 5224: 21.52358490566038,
 5229: 0.597877358490566,
 5233: 0.02122641509433962,
 5237: 0.6155660377358491,
 5238: 0.03419811320754717,
 5244: 198.39268867924528,
 5245: 1.570754716981132,
 5246: 0.7995283018867925,
 5248: 20.910377358490567,
 5250: 0.027122641509433963,
 5260: 4.490566037735849,
 5262: 10.995283018867925,
 5264: 0.5471698113207547,
 5281: 0.018867924528301886,
 5283: 0.014150943396226415,
 5291: 0.09433962264150944,
 5297: 4.691037735849057,
 5298: 63.79245283018868,
 5302: 0.04481132075471698,
 5315: 0.24528301886792453,
 5316: 29.02004716981132,
 5322: 2.6320754716981134,

### Расчет командного рейтинга

In [76]:
def team_score(team):
    score = []
    mul = 1
    total = 0
    for member in team:
        score.append(player_dict.get(member, 0))
    for member_score in sorted(score, reverse=True):
        total += mul * member_score
        mul *= 0.5
        
    return total

In [89]:
df['team_raiting'] = df['members'].apply(team_score)
df_to_score = df[['year', 'tournament', 'position', 'team_raiting']].sort_values(['tournament', 'position'])

In [90]:
train = df_to_score.query('year == "2019"')
test = df_to_score.query('year == "2020"')

In [93]:
train.query('tournament==4772')

     year  tournament  position  team_raiting
0    2019        4772       1.0    495.457953
1    2019        4772       5.5    165.739239
2    2019        4772       5.5     99.530218
3    2019        4772       5.5     93.865566
4    2019        4772       5.5    299.050044
..    ...         ...       ...           ...
226  2019        4772     228.5     71.704599
227  2019        4772     228.5     45.413915
228  2019        4772     228.5     16.724351
229  2019        4772     228.5      1.161225
230  2019        4772     231.0      0.118809

[231 rows x 4 columns]

### Расчет метрик

In [108]:
def calc_metrics(df):
    spearman = []
    kendal = []
    for tour in df.tournament.unique():
        true = df[df.tournament == tour].position
        pred = df[df.tournament == tour].team_raiting
        k = kendalltau(pred, true).correlation
        s = spearmanr(pred, true).correlation
        kendal.append(0 if isnan(k) else k)
        spearman.append(0 if isnan(s) else s)
        
    print(f'Mean Spearman corr: {np.mean(spearman)}\nMean Kendal corr: {np.mean(kendal)}')

In [111]:
print('Train')
calc_metrics(train)
print('Test')
calc_metrics(test)

Train
Mean Spearman corr: -0.5988371695993082
Mean Kendal corr: -0.45148554585513667
Test
Mean Spearman corr: -0.6152717157037964
Mean Kendal corr: -0.46263622364349916